ul{
    padding-left:25px;
}
.productLi{
    font-size:12px;
    width:15%;
    height:300px;
    background-color:#fbf4f6;
    display: inline-block;
    text-align: center;
    position: relative;
    box-shadow:2px 2px 4px 2px #d8d8d8;
    padding:15px 0 40px 0;
    margin-top:25px;
}
.right_li:not(:last-child){
    margin-right:25px;
}


.productImg{
    width:80%;
    height: 170px;
    transition: all 0.5s;
}
.productImg:hover{
    transform: scale(1.2);
    /* transition: ; */
    overflow: hidden;
}
.productImg_modal{
    width:80%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.productCont_modal{
    line-height:30px;
    background-color: #FFF;
    box-shadow:2px 2px 2px 2px #d8d8d8;
    padding: 5px 12px;
}
.productCont{
    width:100%;
    height:80px;
    line-height:30px;
    
    background-color: #FFF;
    box-shadow:2px 2px 2px 2px #d8d8d8;
    position:absolute;
    bottom:0;

}

.contLeft{
    float:left;
    /* margin-left:12px; */
    position:relative;
    top:10px;
    text-align: left;
}
.img_{
    height: 200px;
}
.contRight{
    float:right;
    /* margin-right:10px; */
    position: relative;
    top:8px;
}
.btn_item{
    font-size:10px;
    padding:4px 8px;
    /* margin-left:10px ; */
    display: block;
}
.dropdown-menu.show {
    min-width: 60px;
}
.dropdown-item{
    padding:.25rem 0.5rem
}
.btn-margin:not(:last-child){
    margin-bottom:5px;
}
p{
    margin-bottom:0;
}
.hide{
    display: none;
}
.pro_name{
    font-size:15px;
    font-weight: bold;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pro_desc{
    color:#888;
    /* height: 60px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.name{
    margin-bottom: 0px;
    margin-left: 10px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.category{
    font-size: 0.8em;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#888;
}
.author{
    color:#666;
    margin-left: 10px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content{
    clear: both;
    font-size: .9em;
    color: #1f1f1a;
    padding-top: 10px;
    word-break: break-all;
}
.price{
    font-size:18px;
    color:red;
    margin-right:15px;
}
#subTips{
    color: red;
}
.countPrice{
    margin-left: 12px;
    width: 150px;
    display: inline-block;
}
.no_pro_arr{
    font-size: 20px;
    margin: 25px 35px;
    color: #606060;
}
.add_pro_delete{
    color:#888;
    cursor:pointer;
    /* float:left; */
}
