@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*{
  padding:0;
  margin:0;
}
 
a{
  text-decoration:none;
}

ul li{
  list-style: none;
}
.selectLi{
  border: 1px solid orange;
}
.topInfo{
  width:100%;
  height:5vh;
  background-color: #FFF;
  line-height:5vh;
  padding-left:20px;
}
.btn_show_login{
  float:right;
  margin: 4px 20px 0 0;
}
.reqTips{
  color:red;
  font-size:0.8em;
  margin-top: -10px;
}
.left_nav{
    border:1px solid #eee;
}

.right_cont{
  height:95vh;
  background-color:#efefef;
  position:relative;
}
.bought_title,.cart_title{
  border-bottom: 1px solid #e8e1e1;
}
.showComp{
  width:99%;
  height:98%;
  overflow-y: scroll;
  background-color: #FFF;
  box-shadow: -5px -3px 10px #d4d4d4;
  position:absolute;
  right:0;
  bottom:5px;
}
.nav{
  width:100%;
  text-align: center;
}
.nav li{
  width:100%;
  display: block;
  padding:15px 0;
  background-color: #fbf4f6;    
}
/*伪类处理*/
.nav ul li:not(:last-child){
  border-bottom:1px solid #dcdcdc;
  
}
.liBtn,liBtn:hover{
  text-decoration: none;
  color:inherit;
}

.nav .active{
  color:#FFF;
  background-color: #b99aa3;
  border-bottom:1px solid #FFF;
  border:none;
}